@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root{
    --cor-fundo: #202024;
    --cor-header: #121214;
    --cor-infos: #323238;
    --cor-transacao: #29292e;
    --verde-escuro: #015f43;
    --verde-claro: #00875f;
    --verde-mais-claro: #00b37e;
    --vermelho: #f75a68;
    --branco: #e1e1e6;
    --cinza: #c4c4cc;
}

.d-flex {
    display: flex;
}

.around{
    justify-content: space-around;
}

.evenly{
    justify-content: space-evenly;
}

.center{
    align-items: center;
}

body {
    background-color: var(--cor-fundo);
}

header{
    background-color: var(--cor-header);
    gap: 40vw;
    height: 25vh;
}

header img{
    width: 40px;
    height: 40px;
}

header h1{
    color: var(--branco);
}

header button{
    background-color: var(--verde-claro);
    color: var(--branco);
    border-radius: 6px;
    height: 50px;
}

header div, header button{
    margin-top: 20px;
}

main{
    max-width: 90vw;
    margin: auto;
}

.infos{
    position: relative;
    top: -5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-evenly; 
}

.info{
    background-color: var(--cor-infos);
    width: 25vw;
    color: var(--cinza);
    height: 100px;
    padding: 10px;
}

.info div{
    gap: 50%;
    font-size: 0.7em;
    margin-top: 10px;
}

.info div p{
    margin-top: 5px;
}

.total{
    background-color: var(--verde-escuro);
}

.valores{
    position: relative;
    top: 20px;
    left: 12px;
    /* margin: 20px 10px 0 20px; */
    font-size: 1.5em;
}

input,button{
    height: 50px;
    border-radius: 5px;
}

input{
    background-color: var(--cor-header);
    padding-left: 10px;
    width: 80%;
}

button{
    background-color: var(--cor-fundo);
    color: var(--verde-mais-claro);
    border: 1px solid var(--verde-mais-claro);
    width: 10%;
    margin-left: 77px;
}

table{
    width: 100%;
    margin-top: 20px;
    border-spacing: 0 10px;
}

tr {
    background-color: var(--cor-transacao);
    color: var(--cinza);
    padding: 10px;
    height: 50px;
}

td{
    padding: 10px;
}

.positivo{
    color: var(--verde-mais-claro);
}

.negativo{
    color: var(--vermelho);
}